<footer>
    <div class="container px-3 px-md-0 py-3">

        <a class="" href="#">
            <img src="~/Content/img/smIcon.svg"
                 alt="logo-stackoverflow" height="30px" class="d-inline-block">
        </a>

        <div class="footer-links mt-3 row row-cols-1 row-cols-lg-4 row-cols-md-1">
            <div class="col">
                <h5>
                    <a href="#">Stack Overflow</a>
                </h5>
                <ul class="list-unstyled d-flex d-lg-block">
                    <li class="pe-3 pe-lg-0"><a href="#">Questions</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Help</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Chat</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>
                    <a href="#">Products</a>
                </h5>
                <ul class="list-unstyled d-flex d-lg-block">
                    <li class="pe-3 pe-lg-0"><a href="#">Teams</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Advertising</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Talent</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>
                    <a href="#">Company</a>
                </h5>
                <ul class="list-unstyled d-flex d-lg-block">
                    <li class="pe-3 pe-lg-0"><a href="#">About</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Press</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Work Here</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Legal</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Privacy Policy</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Terms of Service</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Contact Us</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Cookie Settings</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>
                    <a href="#">Stack Exchange Network</a>
                </h5>
                <ul class="list-unstyled d-flex d-lg-block">
                    <li class="pe-3 pe-lg-0"><a href="#">Technology</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Culture & recreation</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Life & arts</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Science</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Professional</a></li>
                    <li class="pe-3 pe-lg-0"><a href="#">Business</a></li>
                    <li class="pe-3 pt-lg-3"><a href="#">API</a></li>
                    <li><a href="#">Data</a></li>
                </ul>
            </div>
        </div>

        <div class="mt-3 footer-meta">
            <ul class="d-flex list-unstyled my-1">
                <li><a href="#">Blog</a></li>
                <li><a href="https://facebook.com/officialstackoverflow/" target="_blank">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="https://github.com/HuyTuan-2005/Stackoverflow">Github</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
            <p style="font-size: 11px">Trường Đại học Công Thương TP. Hồ Chí Minh - Diễn đàn công nghệ</p>
        </div>
    </div>
</footer>