

<header>
    <div class="container">
        <nav class="navbar d-flex justify-content-between gap-2 align-items-center py-1">
            <div>
                <!-- Logo lớn mặc định -->
                <a class="navbar-brand d-none d-md-inline" href="/">
                    <img src="~/Content/img/icon.svg"
                         alt="logo-stackoverflow" height="30px">
                    @* <img src="~/Content/img/default-monochrome.svg" alt="logo-forum" height="27px" class=""/> *@
                </a>
                <!-- Logo nhỏ cho màn hình nhỏ -->
                <a class="navbar-brand d-inline d-md-none" href="/">
                    <img src="https://www.vectorlogo.zone/logos/stackoverflow/stackoverflow-icon.svg"
                         alt="logo-stackoverflow-small" height="30px" class="d-inline-block">
                </a>
            </div>

            <div class="flex-grow-0 nav-header">
                <ul class="navbar-nav d-flex justify-content-between flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-1">
                <form action=@Url.Action("Search", "Home") method="get">
                    <div class="custom-input-group">
                        <span>
                            <i class="fa fa-search"></i>
                        </span>
                        <input name="search" type="search" class="form-control" placeholder="Search question...">
                    </div>
                </form>
            </div>

            @* login partial *@
            @if (ViewBag.Title != "Đăng nhập" && Session["username"] == null)
            {
                <a href=@Url.Action("Index", "Register") class="btn-register">
                    <div class="px-3">
                        <span class="pe-2" style="font-size: 11px"><i class="fa-solid fa-user-plus"></i></span>
                        <span>Register</span>
                    </div>
                </a>
                <a href=@Url.Action("Index", "Login") class="btn-login">Login</a>
            }

        </nav>
    </div>
</header>