
<div class="position-sticky mb-5" style="top: 90px">
    <div class="left-sidebar-list">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block " href="/">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block active" href="/">
                    <i class="fa-solid fa-message"></i>
                    Question
                </a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block" href="#">
                    <i class="fa-solid fa-tags"></i>
                    Tag
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block" href="#">
                    <i class="fa-solid fa-chart-simple"></i>
                    Challenges
                </a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block" href="#">
                    <i class="fa-solid fa-comment"></i>
                    Chat
                </a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block" href="#">
                    <i class="fa-solid fa-address-card"></i>
                    Articles
                </a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block" href="#">
                    <i class="fa-solid fa-user-group"></i>
                    User
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="text-decoration-none nav-link d-block disabled" href="#">
                    <i class="fa-solid fa-bookmark"></i>
                    Bookmark
                </a>
            </li>
        </ul>
    </div>
</div>
