
@{
    ViewBag.Title = "Index";
}
<form method="post" action="/Export/Export">
    <button type="submit" class="btn btn-primary">Export CSV</button>
</form>
@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}