@{
    ViewBag.Title = "Questions";
}

@section SidebarLeft{
    @Html.Partial("Partials/_SidebarLeft")
}

@section SectionRight
{
    @Html.Partial("Partials/_SectionRight")   
}

<div class="col-7 mt-5">
    <h1>User @ViewBag.Id</h1>
</div>